# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.env
.scannerwork

# archives
archives/*
!archives/temp
archives/temp/*
!archives/temp/.gitkeep
!archives/passbooks
archives/passbooks/*
!archives/passbooks/.gitkeep
!archives/modules
archives/modules/*
!archives/modules/ChildrenOral
archives/modules/ChildrenOral/*
!archives/modules/ChildrenOral/.gitkeep
!archives/modules/DentureRecord
archives/modules/DentureRecord/*
!archives/modules/DentureRecord/.gitkeep
!archives/modules/Diabetes
archives/modules/Diabetes/*
!archives/modules/Diabetes/.gitkeep
!archives/modules/EarlyDoctor
archives/modules/EarlyDoctor/*
!archives/modules/EarlyDoctor/.gitkeep
!archives/modules/EarlyRecord
archives/modules/EarlyRecord/*
!archives/modules/EarlyRecord/.gitkeep
!archives/modules/ElderlyRecord
archives/modules/ElderlyRecord/*
!archives/modules/ElderlyRecord/.gitkeep
!archives/modules/ElderlyGlasses
archives/modules/ElderlyGlasses/*
!archives/modules/ElderlyGlasses/.gitkeep
!archives/modules/ElderlyGlasses
archives/modules/ElderlyGlasses/*
!archives/modules/ElderlyGlasses/.gitkeep
!archives/modules/ElderlyOral
archives/modules/ElderlyOral/*
!archives/modules/ElderlyOral/.gitkeep
!archives/modules/NewInhabitants
archives/modules/NewInhabitants/*
!archives/modules/NewInhabitants/.gitkeep
!archives/modules/UsamCar
archives/modules/UsamCar/*
!archives/modules/UsamCar/.gitkeep
!archives/modules/UsamCarReservation
archives/modules/UsamCarReservation/*
!archives/modules/UsamCarReservation/.gitkeep
!archives/modules/Pregnancy
archives/modules/Pregnancy/*
!archives/modules/Pregnancy/.gitkeep
!archives/modules/Preschool
archives/modules/Preschool/*
!archives/modules/Preschool/.gitkeep
!archives/modules/PretermBirth
archives/modules/PretermBirth/*
!archives/modules/PretermBirth/.gitkeep
!archives/modules/VisionCar
archives/modules/VisionCar/*
!archives/modules/VisionCar/.gitkeep
!archives/modules/VisionRecord
archives/modules/VisionRecord/*
!archives/modules/VisionRecord/.gitkeep
